In [1]:
import dask.dataframe as dd
import numpy as np

In [3]:
df = dd.DataFrame.from_dict({"Letter" : ["A", "B", "C", "A", "B", "C"], "Value" : [1, 2, 3, 4, 5, 6]})
df.groupby("Letter").mean().compute()

In [5]:
# serial_sum.py

        Value
Letter
A         2.5
B         3.5
C         4.5